<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <script src="{{ url_for('static',filename='dist/jquery-3.3.1.js') }}"></script>
  <link type="text/css" rel="stylesheet"href="{{ url_for('static',filename=in_css) }}" />
  <script src="{{ url_for('static',filename=in_js) }}"></script>
</head>
<body>
  <p id="message"></p>
  <div id="view_msg">
    <ul>
      <li>
        <h3>{{ title }}</h3>
      </li>
      <li>
        <form id="forms" class="login">
        	<input type="text" placeholder=" 账户">
        	<input type="password" placeholder=" 密码">
        	<input type="button" value="登录">
          <input type="button" value="注册">
        </form>
      </li>
    </ul>
  </div>
</body>
</html>
